<!--
 * @Descripttion: 
 * @Author: zhangzhiyong
 * @Date: 2021-06-04 10:27:43
 * @LastEditors: zhangzhiyong
 * @LastEditTime: 2021-08-31 18:04:37
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="数据可视化,Smart View">

        <title>飞鱼</title>
        <link rel="icon" href="{{prefix}}/static/visual_component_platform/favicon.ico">

        <link href="{{prefix}}/static/visual_component_platform/platform/vendor.css" rel="stylesheet">
    </head>

    <body>

        <div id="wrapper"></div>

        <script src="{{prefix}}/static/visual_component_platform/config/ENV.js"></script>
        <script src="{{prefix}}/static/visual_component_platform/platform/runtime.js"></script>
        <script src="{{prefix}}/static/visual_component_platform/platform/vendor.js"></script>
        <script src="{{prefix}}/static/visual_component_platform/platform/app.js"></script>

    </body>

</html>
