
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="数据可视化,Smart View">

        <title>{{title}}</title>
        <link rel="icon" href="{{prefix}}/static/solution_platform_web/favicon.ico">
        <meta name="description" content="中国领先的大数据解决方案提供商，成熟的大数据基础平台，顶级的技术研发团队，快速的实施交付能力。集大数据采集、数据分析和数据可视化为一体，提供高效可靠的一站式大数据平台。">
        <meta name="keyword" content="天机数据，大数据，大数据采集，大数据分析，大数据可视化，一站式大数据平台，天机，数据，大数据解决方案">

        <link href="{{prefix}}/static/solution_platform_web/platform/vendor.css" rel="stylesheet">
    </head>

    <body>

        <div id="wrapper"></div>

        <script src="{{prefix}}/static/solution_platform_web/config/ENV.js"></script>
        <script src="{{prefix}}/static/solution_platform_web/platform/runtime.js"></script>
        <script src="{{prefix}}/static/solution_platform_web/platform/vendor.js"></script>
        <script src="{{prefix}}/static/solution_platform_web/platform/app.js"></script>

    </body>

</html>
