$main-menu-background-color: #1D2440;
$main-left-background-color: #272e47;
$main-layout-header-height: 50px;

body {
    height: 100%;

    >#wrapper {
        height: 100%;
    }
}

.main-layout {
    height: 100%;

    //头部菜单样式
    .menu-header {
        position: fixed;
        z-index: 100;
        width: 100%;
        height: $main-layout-header-height;
        padding: 0;
        background-color: $main-menu-background-color;
        display: flex;

        .logo {
            width: 168px;
            height: $main-layout-header-height;
            line-height: $main-layout-header-height;
            font-size: 22px;
            font-weight: 500;
            text-align: center;
            color: #07a8fb;
            margin: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            .logoImg {
                width: 111px;
                height: 18px;
            }
        }

        .ant-dropdown-link {
            font-size: 12px;
            line-height: 24px;
            color: #ACC2D8;
            margin-top: 13px;
            text-align: center;
            text-decoration: none;

            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            width: 115px;
            height: 24px;
            border-radius: 100px;
            background-color: rgba(63, 77, 115, 0.2);
            border: solid 1px #394973;

            .anticon {
                vertical-align: middle;
            }

        }

        .ant-menu-left {
            flex: 1;
            border-bottom-color: $main-menu-background-color;
            background-color: $main-menu-background-color;
            font-size: 16px;
            display: flex;

            :global {
                .ant-menu-item {
                    padding: 15px 0;
                    line-height: 20px;

                    >a {
                        font-size: 12px;
                        font-weight: 500;
                        color: #6E7A99;
                        padding: 0 16px 0 26px;
                        border-right: 1px solid #384466;
                    }

                    &.ant-menu-item-selected {
                        border-bottom: 2px solid #509be6;
						background-color: transparent;
                        // background-color: rgba(0, 51, 102, 0);
                        >a {
                            color: #0099FF;
                        }
                    }

                    &:last-child {
                        >a {
                            border-right: none
                        }
                    }
                }

                .ant-menu-item-selected {
                    border-bottom: 2px solid #509be6;

                    // background-color: rgba(0, 51, 102, 0);
                    &>a {
                        color: #fafcff;
                    }
                }
            }
        }

        .ant-menu-right {
            width: 100px;
            background-color: $main-menu-background-color;
            padding: 0 30px;

            :global {
                .ant-menu-item {
                    padding: 0;
                    font-size: 14px;

                    a {
                        font-size: 16px;
                        font-weight: 500;
                        color: #fafcff;

                        i {
                            font-size: 16px;
                            color: #fafcff;
                            margin-right: 10px;
                        }
                    }

                    &.ant-menu-item-selected {
                        background: none;
                    }
                }
            }

            &:global(.ant-menu-dark.ant-menu-horizontal) {
                border: none;
            }
        }

        .menu-split {
            display: inline-block;
            width: 1px;
            height: 20px;
            // margin-top: 25px!important;

            background-color: #384466;

            &.left {
                // float: left;
                margin: 15px 0 15px 20px;
            }

            &.right {
                // float: right;
                margin: 15px 0;
            }
        }


    }

    //左侧菜单样式
    .main-content {
        margin-top: $main-layout-header-height;
        height: 100%;

        //左侧菜单样式
        .menu-left {
            position: fixed;
            overflow: auto;
            height: calc(100% - 50px);
            left: 0;
            background-color: $main-left-background-color;

            :global {
                .ant-layout-sider-children {
                    >.ant-menu {
                        padding-top: 21px;
                        padding-bottom: 50px;
                        //overflow: auto;
                    }

                    .ant-menu {
                        background-color: $main-left-background-color;

                        .ant-menu-item {
                            &>a {
                                color: #6E7A99;
                                font-size: 12px;

                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;

                                &:hover {
                                    color: #4387BF;
                                }
                            }

                        }

                        .ant-menu-item-selected {
                            background-color: #509be6;

                            &>a {
                                color: #fafcff;

                                &:hover {
                                    color: #fafcff;
                                }
                            }
                        }

                        .ant-menu-submenu-title {
                            color: #fafcff;
                            font-size: 14px;

                            &:hover {
                                color: #4387BF;
                            }

                            i.ant-menu-submenu-arrow {
                                &:before {
                                    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
                                }

                                &:after {
                                    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
                                }
                            }

                        }

                        .ant-menu-submenu-title-active {
                            i.ant-menu-submenu-arrow {
                                &:before {
                                    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
                                }

                                &:after {
                                    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
                                }
                            }
                        }

                    }
                }

                .ant-layout-sider-trigger {
                    background-color: $main-left-background-color;
                }
            }
        }

        .app-content {
            //应用区中的header
            height: 100%;
            background-color: #edf1f5;

            .app-header {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                background: #edf1f5;
                padding: 0 24px;
                height: 45px;
                margin-bottom: 1px;

                .flex-box {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }

                .vertical-bar {
                    width: 2px;
                    height: 18px;
                    margin-right: 10px;
                    background-color: #20a1e0;
                }

                .title {
                    font-size: 18px;
                    text-align: left;
                    color: #99A3BF;
                }

                :global {
                    .ant-form {
                        position: absolute;
                        right: 16px;
                    }
                }
            }

        }

    }

}