# 国内镜像加速源：
# #官方源：https://registry.npmjs.org
# #淘宝npm镜像源：https://r.npm.taobao.org
# #cnpmjs镜像源：http://r.cnpmjs.org
registry=https://r.npm.taobao.org

# 内网私源
@cloudwise:registry=http://10.2.2.38/
@cloudwise-fe:registry=http://10.2.2.38/
