npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
.nyc_output/
.vscode/
components/*
.DS_Store
www
.history/*
logs/*

dist/
mongo/data/*
!.gitkeep
