.login {
  position: absolute;
  background-color: #f8f8f8;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  .img-top {
	position: absolute;
	left: 40px;
	top: 40px;
	width: 157px;
	height: 36px;
  }
  .login_box {
	width: 706px;
	height: 500px;
	overflow: hidden;
	position: fixed;
	left: 50%;
	top: 50%;

	margin-top: -250px;
	margin-left: -353px;
	border-radius: 8px;
	background-color: #fff;
	.login_box_left {
	  width: 360px;
	  margin-top: 10px;
	  float: left;
	  .login_top {
		width: 320px;
		height: 80px;
		font-family: 'PingFangSC';
		font-size: 18px;
		color: #666;
		border-bottom: solid 1px #eee;
		text-align: center;
		line-height: 80px;
		margin-left: 40px;
		margin-bottom: 20px;
	  }
	  .login_email {
		width: 320px;
		height: 40px;
		border-left: none;
		border-right: none;
		border-top: none;
		border-bottom: solid 1px #dedede;
		outline: none;
		margin-left: 40px;
		font-size: 14px;
		padding-left: 5px;
		margin-top: 20px;

		border-radius: 4px;
		background-color: #fafafa;
		box-shadow: inset 1px 1px 2px 0 #e4e4e4;
	  }
	  .login_password {
		width: 320px;
		height: 40px;
		border-left: none;
		border-right: none;
		border-top: none;
		border-bottom: solid 1px #dedede;
		outline: none;
		margin-left: 40px;
		margin-top: 20px;
		font-size: 14px;
		padding-left: 5px;

		border-radius: 4px;
		background-color: #fafafa;
		box-shadow: inset 1px 1px 2px 0 #e4e4e4;
	  }
		.captcha_box{
			margin-top: 20px;
			box-sizing: content-box;
			line-height: 40px;
			height: 40px;
			display: flex;
			.captcha {
				width: 180px;
				border-left: none;
				border-right: none;
				border-top: none;
				border-bottom: solid 1px #dedede;
				outline: none;
				margin-left: 40px;
				font-size: 14px;
				padding-left: 5px;
	
				border-radius: 4px;
				background-color: #fafafa;
				box-shadow: inset 1px 1px 2px 0 #e4e4e4;
				align-items: center;
			}
			.captcha_svg {
				margin-left: 30px;
				align-items: center;
			}
		}
		
	  .btn_login {
		margin-left: 40px;
		margin-top: 30px;
		border: none;
		color: white;
		font-size: 16px;
		outline: none;
		margin-top: 20px;
		width: 320px;
		height: 40px;
		border-radius: 4px;
		background-color: #3fa7ff;
		box-shadow: 0 5px 15px 0 #97dcff;
	  }
	}
	.img_right {
	  float: left;
	  width: 169px;
	  height: 245px;
	  margin-top: 130px;
	  margin-left: 50px;
	}
  }
  .footer_nav {
	position: absolute;
	bottom: 61px;
	left: 50%;
	margin-left: -150px;
	width: 300px;
	height: 20px;
	display: flex;
	justify-content: space-around;
	li {
	  float: left;
	  width: 20%;
	  font-family: '.PingFangSC';
	  font-size: 12px;
	  color: #666;
	  text-align: center;
	  display: flex;
	  a {
		display: inline-block;
		color: #969696;
		width: 100%;
		overflow: hidden;
		float: left;
	  }
	  span {

	  }
	}
  }
  .bottom_ {
	position: absolute;
	bottom: 27px;
	left: 50%;
	width: 500px;
	text-align: center;
	margin-left: -250px;
  }
}
