.summary-cards{
    width:100%;
    // display: flex;
    // justify-content: space-between;
    // padding-bottom: 15px;
}  
.cards{
    margin: 0 16px 16px 0;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(47, 54, 66, 0.06);
    border-radius: 2px;
    .cardLeft{
        width: 48px;
        height: 100%;
        display: flex;
        align-items: center;
        margin-right: 5%;
        float: left;
        .icon{
            width: 48px;
            height: 48px;
            background-size: cover;
        }
        .img1{
            background-image: url('../../../../public/img/dashboard/1.png');
        }
        .img2{
            background-image: url('../../../../public/img/dashboard/2.png');
        }
        .img3{
            background-image: url('../../../../public/img/dashboard/3.png');
        }
        .img4{
            background-image: url('../../../../public/img/dashboard/4.png');
        }
        .img5{
            background-image: url('../../../../public/img/dashboard/5.png');
        }
        .img6{
            background-image: url('../../../../public/img/dashboard/6.png');
        }
    }
    .cardRight{
        overflow: hidden;
        .content{
            height: 32px;
            line-height: 22px;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.85);
            .contentItem{
                // height: 32px;
                margin-right: 10%;
                float: left;
                align-items: center;
                p{
                    height: 22px;
                    line-height: 20px;
                    margin-bottom: 6px;
                    font-size: 14px;
                    color: rgba(0, 0, 0, 0.45);
                    &:first-child{
                        margin-right: 10px;
                    }
                }
                .numContainer{
                    display: flex;
                    align-items: center;
                    .big{
                        margin: 0 3px;
                        height: 32px;
                        line-height: 32px;
                        font-size: 24px;
                        color: rgba(0, 0, 0, 0.85);
                    }
                    .small{
                        line-height: 22px;
                        font-size: 14px;
                        color: rgba(0, 0, 0, 0.85);
                    }
                }
                
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
    :global {
        .ant-card-head{
            height: 0;
            min-height: 0;
        }
        .ant-card-extra{
            // padding: 0 16px;
            font-size:14px;
        }
        .ant-card-body{
            padding: 24px 5%;
          height: 100%;
    }
}

}
.summary-card{
    height:80px;
    margin-right: 15px;
    &:last-child{
        margin-right: 0px;
    }
    display: inline-block;
    border-radius:4px;
    border:none;
    box-shadow: 0px 4px 3px 0px #bbb;
    overflow: hidden;
    :global {
        .ant-card-head{
            min-height:32px;
            line-height:32px;
            padding:0px;
            text-align: center;
            .ant-card-head-title{
                padding:0px;
                font-size:14px;
                color:#ffffff;
            }
        }
        .ant-card-body{
            padding:6px;
            height:80px;
            overflow: hidden;
        }
    }
    .summary-content{
        border:none;
        border-radius: 4px;
        display: inline-block;
        height:100%;
        width:100%;
        position: relative;

        .font-20{
            font-size:20px;
        }
        .font-12{
            font-size:12px;
        }
        .font-14{
            font-size:14px;
        }

        .card-value{
            float:left;
            text-align: center;
            >span{
                display: block;
            }
            .value{
                font-size: 26px;
                line-height:50px;
                height:50px;
                color:#fafafa;
            }
            .suffix, .prefix, .unit{
                font-size:12px;
                padding-left:2px;
                color:#f0f0f0;
            }
            .label{
                line-height:20px;
                font-size:14px;
                color:#f0f0f0;
            }
        }

        .card-title{
            line-height:20px;
            font-size:14px;
            color: #f0f0f0;
            text-align: center;
        }
    }
}

