.appList {
  padding: 16px 20px 0 0;

  .title {
    margin: 0 0 16px;
  }

  .titleContainer {
    margin-left: 2%;
  }

  :global {
    .ant-collapse-header {
      padding-bottom: 6px !important;
    }

    .cw-searchbar-form .cw-search-wrapper {
      border: none !important;
    }

    .ant-collapse-content>.ant-collapse-content-box {
      padding: 0 !important;

      .cw-searchbar-form {
        padding-bottom: 0;
      }
    }

    .flexContainer {
      height: calc(100vh - 500px) !important
    }
  }

}

.mybtn {
  text-align: center;
  font-size: 12px;
  transform: scale(0.8);
  white-space: nowrap;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: white;
}


.projectDetailStyle {
  :global {
    .ant-collapse-content {
      .ant-card-actions {
        margin-top: 12px;
        display: flex;
        justify-content: space-between;

        li:nth-last-child(1) {
          width: 96px !important;
          margin-top: 0;
        }

        li:nth-last-child(2) {
          width: 120px !important;
          margin-top: 0;
        }
      }
    }
  }
}