$bgImg: linear-gradient(to right, #0099ff, #00c8ff);
// 字体主题色
$mainFontColor: #acc2d8;
.tj_modalBox{

	&:global(.ant-modal){
		color: $mainFontColor;
	}
	:global{
		.ant-modal-content{
			// background-color: #26304d;

			// 关闭按钮
			.ant-modal-close{
				color: #fafcff;
			}

			// 头部样式
			.ant-modal-header{
				// background-image: $bgImg;
				// border-bottom: none;
				// .ant-modal-title{
				// 	color: #fafcff;
				// }
			}

			// 内容部分css
			.ant-modal-body{

			}

			// 尾部css
			.ant-modal-footer{
				border-top-color: rgba(252, 253, 255, 0.1);
				// 默认按钮样式， 第一个为取消按钮， 第二个为确定按钮
				/*button:nth-child(1){
					background-color: #384466;
					color: #acc2d8;
					font-size: 14px;
				}
				button:nth-child(1){
					color: #fafcff;
					background-image: $bgImg;
					font-size: 14px;
				}*/
			}
		}
	}
}
