# http://editorconfig.org
root = true

[*]
indent_style = space                #缩紧格式为空格
indent_size = 4                     #缩紧4格
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[*.scss]
indent_style = tab
