.filter{
  box-sizing: border-box;
  padding: 10px 0px 10px 10px ;
}
.col {
	margin-bottom: 10px;
}

.tagSelect {
	width: 100%;
}
:global{
	.ant-upload-list{
		color: #acc2d8;
		.ant-upload-list-item-info{
			color: #acc2d8;
			i{
				color: #acc2d8;
			}
		}
	}
	.ant-progress-text{
		color: #acc2d8;
	}
}
