.status_green{
  width: 15px;
  height: 15px;
  background: green;
  box-sizing: border-box;
  border: solid 3px green;
  span {
	display: block;
	width: 100%;
	height: 100%;
	border: solid 1px white;
	background: green;
  }
}
.status_red{
  width: 15px;
  height: 15px;
  background: red;
  box-sizing: border-box;
  border: solid 3px red;
  span {
	display: block;
	width: 100%;
	height: 100%;
	border: solid 1px white;
	background: red;
  }
}
