.wraper{
  color: red;
}
.layoutWrap{
  :global{
    .ant-layout-sider{
      background-color: #fff;
    }
    .ant-layout-content{
      background-color: #fff;
    }
  }
}
.collapsedClass{
  :global{
    .ant-layout-sider{
      width: 0px !important;
      flex: none !important;
      min-width: 0 !important;
    }
  }
}
.leftWrap{
  position: relative;
  height: 100%;
  margin-right: 16px;
  // border-right: 1px solid #eee;
  // padding: 5px 10px;
  // display: flex;
  // align-items: center;
}
.treeWrap{
  position: relative;
  height:calc(~'100% - 20px');
  width: 100%;
  overflow:hidden;
  background-color: rgba(0,0,0,0.02);
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}
.rightWraper{
  // background-color: #eee;
  // height: 100%;
  height: calc(100% - 35px);
  border-left: 1px solid #eee;
  // padding: 10px;
}
.handleWrap{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 16px 20px 0;
  background-color: #fff;
  &>div{
    margin: 0px 4px 8px;
  }
  &>div:nth-last-child(1){
    position: absolute;
    bottom: 0px;
    right: -16px;
  }
  // margin-bottom: 10px;
}
.handleLeft{
  display: flex;
  &>div{
    margin-right: 20px;
  }
}
.listWraper{
  padding: 8px 0 8px 16px;
  background-color: #fff;
  height: calc(~"100% - 53px");
  overflow-y: auto;
  :global{
    .ant-pagination-options{
      position: absolute;
      left: -15px;
    }
    .ant-pagination-total-text{
      position: absolute;
      left: 105px;
    }
  }
}
.btnWraper{
  color:#449CF2;
  &>div{
    margin-bottom: 10px;
    cursor: pointer;
  }
}
.allBtn{
  height: 30px;
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding-left: 35px;
  cursor: pointer;
  font-weight: 800;
  background-color: #fff;
  cursor: pointer;
  &:hover{
    background-color: rgba(68, 156, 242,0.5);
  }
}
.selected{
  background-color: rgba(68, 156, 242,0.5);
}
.comType {
  display: inline-block;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.nameLink{
  color:rgba(24, 144, 255,1);
  text-decoration:none;
  max-width: 100%;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  &:hover{
    color:rgba(68, 156, 242,0.5);
  }
}
.collbar{
  position: absolute;
  right: -18px;
  background: #fff;
  border-radius: 3px;
  bottom: 10px;
  padding: 0 2px;
}
.imgPreviewBody{
  :global{
    .ant-modal-content{
      height: 100%;
    }
    .ant-modal-body{
      height: calc(~'100% - 80px');
    }
  }
}
.descWrap{
  width: 90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.descPopWrap{
  max-width: 500px;
  max-height: 600px;
  overflow: hidden;
}

.uploadText{
  color: #ccc;
}
.uploadIcon{
  font-size: 50px;
  color: #3A91FE;
}
.progressWrap{
  display: flex;
  justify-content: center;
  &>div{
    width: 60%;
  }
}
.uploadFileIcon{
  width: 10px;
  height: 18px;
  background: url(./file.png);
  margin-right: 10px;
}
.uploadResultWrap{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.addComponentStyle{
  &::before{
    padding: 0 !important;
  }
  &>ul{
    padding: 0;
    &>li{
      padding: 0;
    }
  }
}
.addComponentBtnStyle{
  border-radius:0px;
  border: 0;
  padding: 0 9px;
}
.btnDisabled{
  color:#ccc;
}

.creatorPagi{
  display:flex;
  padding:10px;
  justify-content: space-between;
}
.creatorPagiRight{
  display: flex;
  &>div{
    width:20px;
    height: 20px;
    cursor: pointer;
    text-align: center;
  }
}
.pageNumWrap{
  border: 1px solid #1890ff;
  color: #1890ff;
  border-radius: 3px;
}