.btnWrap{
  height:40px !important;
  padding: 10px 0;
  border-top:1px solid #eee;
  display: flex !important;
  // align-items: center;
  width: calc(~'100% + 80px');
  margin-left: -40px !important;
}