.drawerContainer{
   .title{
    font-size: 16px;
    line-height: 30px;
    display: block;
    margin-bottom:16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
   }
   .firstTitle{
      line-height: 30px;
      font-weight: 700;
      >span{
         font-weight: 400;
         margin-left: 10px;
      }
   }
   .effectTitle{
      margin: 15px 0 5px;
      .identification{
         color: lightgrey;
      }
   }
   .screen{
      height: 300px;
      background-color: lightgray;
   }
   .table{
      margin: 8px 0;
   }
   .datatable{
      min-height: 150px;
      padding: 8px;
      border: 1px solid lightgray;
      .littleTitle{
         color: lightgrey;
         font-size: 12px;
      }
   }
   :global {
      .ant-collapse-content > .ant-collapse-content-box{
         padding: 10px;
      }
  }
}